/target
*.env*
!.env.example*
.aider*
/tools/kandidm_certs

*.iml
.kotlin
.gradle
**/build/
xcuserdata
!./src/daybook_app/src/**/build/
!./src/daybook_shared/src/**/build/
local.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings

src/samod/

**/*/.terragrunt-cache

play.*
jniLibs
.gradle-local

*.log
src/infra/dev/.htpasswd
