version: "3.9"

services:

  keycloak:
    container_name: keycloak
    build:
      dockerfile: ./Dockerfile
    # start-dev and hostname-strict=false are required to run keycloak in test environment; not acceptable for production
    # see https://www.keycloak.org/server/hostname for details
    command: [ "start-dev", "--hostname-strict=false", "--hostname-debug=true" ]
    ports:
      - "8082:8080"
    environment:
      - KEYCLOAK_ADMIN=admin
      - KEYCLOAK_ADMIN_PASSWORD=admin123456
      - KEYCLOAK_DB=dev-file
      #- KC_LOG_LEVEL=DEBUG  # debugging keycloak
    volumes:
      - keycloak_data:/opt/keycloak/data


  init_keycloak:
    container_name: keycloak-init
    build:
      dockerfile: ./Dockerfile
    # uncomment this to stop container after provisioning is done
    #command: [ "sleep" ]
    entrypoint: [ "/provision.sh" ]
    # for fast update of provisioning the scripts are mounted as volumes
    volumes:
      - ./keycloak_functions.sh:/keycloak_functions.sh
      - ./provision.sh:/provision.sh
    environment:
      - KCADM_PATH=/opt/keycloak/bin/kcadm.sh
      - KEYCLOAK_URL=http://keycloak:8080
      - KEYCLOAK_ADMIN=admin
      - KEYCLOAK_ADMIN_PASSWORD=admin123456

volumes:
  keycloak_data:
