[package]
name = "wflow_ingress_http"
version.workspace = true
edition.workspace = true

[features]
default = ["utoipa", "serde"]
serde = []
utoipa = []
automerge = []
uniffi = []

[lib]
path = "lib.rs"
crate-type = ["cdylib"]

[dependencies]
# wasmcloud-component = "0.2.0"
wit-bindgen.workspace = true
utils_rs.workspace = true
api_utils_rs.workspace = true
macros.workspace = true

serde.workspace = true
serde_json.workspace = true

thiserror.workspace = true
displaydoc.workspace = true
parking_lot.workspace = true

axum = { workspace = true, features = [
  "form", "json", "macros", "multipart", "query", "original-uri",
  "query", "tower-log", "tracing", "matched-path", 
  ] }
axum-extra = { workspace = true, features = ["typed-header"] }
tower.workspace = true
http.workspace = true
