[package]
name = "macros"
version.workspace = true
edition.workspace = true

[lints]
workspace = true

[lib]
proc-macro = true
path = "lib.rs"

[dependencies]
proc-macro2 = "1"
quote = "1"
syn.workspace = true
# http = { workspace = true, optional = true }
