[package]
name = "macros"
version.workspace = true
edition.workspace = true

[lib]
proc-macro = true
path = "lib.rs"

[dependencies]
proc-macro2 = "1"
quote = "1"
syn = { version = "2", features = ["extra-traits"] }
# http = { workspace = true, optional = true }
