[package]
name = "wflow_webui"
version.workspace = true
edition.workspace = true

[[bin]]
name = "wflow_webui"
path = "main.rs"

[lib]
path = "lib.rs"

[dependencies]
console_error_panic_hook = "0.1.7"
gloo = { workspace = true, features = ["net"] }
leptos = { workspace = true, features = ["csr"] }
leptos_router = { workspace = true }
serde_json.workspace = true
leptos_oidc.workspace = true
