[package]
name = "wflow_webui"
version.workspace = true
edition.workspace = true

[[bin]]
name = "wflow_webui"
path = "main.rs"

[lib]
path = "lib.rs"
crate-type = ["cdylib", "rlib"]

[features]
default = [
    "ssr",
    "hydrate",
]
hydrate = [
    "leptos/hydrate",
    "dep:console_error_panic_hook",
    "dep:wasm-bindgen",
    "utils_rs/browser",
    "thaw/hydrate",
    "getrandom/wasm_js"
]
ssr = [
    "dep:axum",
    "dep:tokio",
    "dep:leptos_axum",
    "leptos/ssr",
    "leptos_meta/ssr",
    "leptos_router/ssr",
    "utils_rs/native",
    "dep:axum-extra",
    "dep:tower",
    "dep:tower-http",
    "dep:oauth2",
    "dep:reqwest",
    "thaw/ssr"
]

[dependencies]
utils_rs.workspace = true

gloo = { workspace = true, features = ["net"] }

getrandom = "0.3"

serde.workspace = true
percent-encoding = "2.3.2"

leptos = { workspace = true, features = ["csr"] }
leptos_router = { workspace = true }
leptos-use.workspace = true
leptos_meta.workspace = true
leptos_axum = { version = "0.8.7", optional = true }
console_error_panic_hook = { version = "0.1", optional = true }

tokio = { workspace = true, features = ["rt-multi-thread"], optional = true }

wasm-bindgen = { version = "=0.2.104", optional = true }
axum-extra = { workspace = true, features = ["cookie", "cookie-signed"], optional = true }

axum = { workspace = true, optional = true }
tower = { workspace = true, optional = true }
tower-http = { workspace = true, features = ["full"], optional = true }
reqwest = { workspace = true, optional = true }
oauth2 = { version = "5.0.0", default-features = false, features = ["pkce-plain"], optional = true }


thaw = { git = "https://github.com/thaw-ui/thaw", features = ["nightly"] }

reactive_stores = "0.2.5"
