[package]
name = "mltools"
version.workspace = true
edition.workspace = true

[lints]
workspace = true

[lib]
name = "mltools"
path = "lib.rs"

[dependencies]
utils_rs = { workspace = true, default-features = false }
api_utils_rs = { workspace = true, default-features = false }

serde.workspace = true

wit-bindgen.workspace = true
