<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CAMERA" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_REMOTE_MESSAGING" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />

    <!--    used to take photos-->
    <uses-permission android:name="android.permission.CAMERA" />
    <!--    used for voice memos-->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!--    used to access supporting services-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--    used for various notifications including a peristent one-->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <!--    used to button that draws over other apps -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Material.Light.NoActionBar">
        <service
            android:name=".MagicWandService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="remoteMessaging|camera|microphone|specialUse"
            >
            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="Quick access UI for AI features." />
        </service>


        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>