name: checks

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
  workflow_dispatch:
    inputs:
      tmate_enabled:
        type: boolean
        description: |
          Run the build with tmate debugging enabled (https://github.com/marketplace/actions/debugging-with-tmate).
        required: false
        default: false


concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  GHJK_ENV: ci

jobs:
  checks:
    runs-on: ubuntu-latest
    steps:
      - name: Setup tmate session
        if: ${{ github.event_name == 'workflow_dispatch' && inputs.tmate_enabled }}
        uses: mxschmitt/action-tmate@v3
        with:
          detached: true

      - name: remove unused files
        # based on https://dev.to/mathio/squeezing-disk-space-from-github-actions-runners-an-engineers-guide-3pjg
        run: |
          sudo rm -rf /usr/lib/jvm
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /usr/share/swift
          sudo rm -rf /usr/local/.ghcup
          sudo rm -rf /usr/local/julia*
          sudo rm -rf /usr/local/lib/android
          sudo rm -rf /usr/local/share/chromium
          sudo rm -rf /opt/microsoft /opt/google
          sudo rm -rf /opt/az
          sudo rm -rf /usr/local/share/powershell
          # sudo rm -rf /opt/hostedtoolcache

      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - uses: DeterminateSystems/nix-installer-action@v16

      - uses: DeterminateSystems/flakehub-cache-action@v3

      - uses: Swatinem/rust-cache@v2

      - name: pre-commit hooks
        run: |
          nix develop .#ci-rust --command prek --color=always run --all-files

      - name: rust builds
        run: |
          nix develop .#ci-rust --command cargo --color=always build -p test_wflows -p daybook_wflows --target wasm32-wasip2
          nix develop .#ci-rust --command cargo --color=always build -p daybook_cli
          # nix develop .#ci-rust --command cargo --color=always nextest run --workspace --all-features
        env:
          RUST_BACKTRACE: 1
          # RUST_LOG: debug
          # # FIXME: use real ollama
          # OLLAMA_URL: http://localhost:11434
          # OLLAMA_MODEL: gemma3 

  appimage:
    runs-on: ubuntu-latest
    steps:
      - name: remove unused files
        # based on https://dev.to/mathio/squeezing-disk-space-from-github-actions-runners-an-engineers-guide-3pjg
        run: |
          sudo rm -rf /usr/lib/jvm
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /usr/share/swift
          sudo rm -rf /usr/local/.ghcup
          sudo rm -rf /usr/local/julia*
          sudo rm -rf /usr/local/lib/android
          sudo rm -rf /usr/local/share/chromium
          sudo rm -rf /opt/microsoft /opt/google
          sudo rm -rf /opt/az
          sudo rm -rf /usr/local/share/powershell
          # sudo rm -rf /opt/hostedtoolcache

      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "21"

      - name: Set up Rust toolchain
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: nightly-2026-01-01
          target: wasm32-wasip2,wasm32-unknown-unknown,x86_64-unknown-linux-gnu,aarch64-unknown-linux-gnu

      - name: Set up Deno
        uses: denoland/setup-deno@v2
        with:
          deno-version: v2.x

      - uses: Swatinem/rust-cache@v2

      - name: Build AppImage + tarball
        run: |
          ./x/build-appimage-dayb.ts

      - name: Upload AppImage
        uses: actions/upload-artifact@v4
        with:
          name: daybook-appimage
          path: target/appimage/daybook-linuxdeploy-x64.AppImage

      - name: Upload App Tarball
        uses: actions/upload-artifact@v4
        with:
          name: daybook-app-tar
          path: target/appimage/daybook-linuxdeploy-x64.tar.xz
